<% layout('../templates/principal') -%>
<div class="container page-new--aula">
  <div class="col-xs-12 push-md-2">
    <h4>Nueva Aula</h4>
  </div>
  <div class="col-xs-12">
    <form method="POST" style="margin:100px 0" action='/calendar/<%= data._id %>' enctype='application/x-www-form-urlencoded' >
      <input value="PUT" type="hidden" name="_method"/>
      <div class="form-group row">
        <label class="col-sm-4" for="name">Nombre</label>
        <input class="col-sm-6" type="text" name="name" placeholder="Calendar mar-2016" value="<%= data.name %>">
        <hr class="col-10">
        <label class="col-sm-12" for="name">Ediciones</label>
        <div class="col-sm-12">
          <select multiple id="custom-headers" class="searchable" name="editions[]">
            <!-- <%= data.editions.splice(0, 0) %>
            <%= data_editions.splice(0, 0) %> -->
            <% data_editions.forEach(function(reg, ix ){ %>
              <% data.editions.forEach(function(rex, iy ){ %>
                <% if(String(rex._id) === String(reg._id)){ %>
                  <option selected value="<%= reg._id %>"><%= iy %>-<%= reg.yearC %>-<%= reg.monthC %> <%= reg.Service.name %></option>
                  <!-- <option selectevalue=""><%= String(rex._id) %> \n <%= String(reg._id) %></option> -->
                  <% } %>
                    <% if(String(rex._id) != String(reg._id)){ %>
                    <!-- <option value=""><%= String(rex._id) %> \n <%= String(reg._id) %></option> -->
                    <option value="<%= reg._id %>"><%= reg.yearC %>-<%= reg.monthC %> <%= reg.Service.name %></option>
                    <% } %>
                    <% }) %>
                    <% }) %>

                  </select>
                </div>
              </div>
              <div class="col-sm-6 push-sm-5">
                <button type="submit" name="registrer">Guardar</button>
              </div>
            </form>
          </div>
        </div>
        <script src="js/bootstrap_v3.js" charset="utf-8"></script>
        <script src="/js/jquery.multi-select.js" charset="utf-8"></script>
        <script src="/js/jquery.quicksearch.js" charset="utf-8"></script>
        <script type="text/javascript">
        $('.searchable').multiSelect({
          selectableHeader: "<input type='text' class='search-input' autocomplete='off' placeholder='Filtro'>",
          selectionHeader: "<input type='text' class='search-input' autocomplete='off' placeholder='Filtro'>",
          afterInit: function(ms){
            var that = this,
            $selectableSearch = that.$selectableUl.prev(),
            $selectionSearch = that.$selectionUl.prev(),
            selectableSearchString = '#'+that.$container.attr('id')+' .ms-elem-selectable:not(.ms-selected)',
            selectionSearchString = '#'+that.$container.attr('id')+' .ms-elem-selection.ms-selected';

            that.qs1 = $selectableSearch.quicksearch(selectableSearchString)
            .on('keydown', function(e){
              if (e.which === 40){
                that.$selectableUl.focus();
                return false;
              }
            });

            that.qs2 = $selectionSearch.quicksearch(selectionSearchString)
            .on('keydown', function(e){
              if (e.which == 40){
                that.$selectionUl.focus();
                return false;
              }
            });
          },
          afterSelect: function(){
            this.qs1.cache();
            this.qs2.cache();
          },
          afterDeselect: function(){
            this.qs1.cache();
            this.qs2.cache();
          }
        });
        </script>
