<% layout('../templates/principal') -%>
<div class="page-new--ediciones">
  <div class="col-xs-12 push-md-2">
    <h4>Editar Servicio</h4>
  </div>
  <div class="col-xs-12">
    <form method="POST" action='/config/ediciones/<%= data._id %>' enctype='application/x-www-form-urlencoded' >
      <div class="form-group row">
        <input value="PUT" type="hidden" name="_method"/>
        <label class="col-sm-4" for="name">Año</label>
        <input class="col-sm-6" autofocus type="number" min="0" step="any"  required name="yearC" placeholder="Año" value="<%= data.yearC %>">
        <label class="col-sm-4" for="name">Mes</label>
        <input class="col-sm-6" type="number" min="0" step="any" name="monthC" required placeholder="Mes" value="<%= (data.monthC) %>">
        <label class="col-sm-4" for="name">Servicio</label>
        <select class="col-sm-6 custom-select" name="Service" required>
          <% data_services.forEach(function(reg){ %>
            <% if(String(reg._id) == String(data.Service._id)){ %>
              <option value="<%= reg._id %>" selected><%= reg.name %></option>
              <% } else{ %>
                <option value="<%= reg._id %>"><%= reg.name %></option>
                <% } %>
                <% }) %>
              </select>
            </div>
            <div class="col-sm-6 push-sm-5">
              <button type="submit" name="guardar">Guardar</button>
            </div>
          </form>
        </div>
      </div>
