<% layout('../templates/principal') -%>
<div class="container">
  <h4>Ediciones</h4><span><a href="/config/ediciones/new">Crear Nuevo</a></span>
  <div class="col-xs-12">
    <table id="basic-table">
      <thead>
        <th>Fecha </th>
        <th>Servicio </th>
        <th>Fecha de creacion </th>
        <th>Opciones</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% data.forEach(function(reg){ %>
        <tr>
          <td><%= reg.yearC %>-<%= reg.monthC %></td>
          <td><%= reg.Service.name %></td>
          <td><%= reg.created_at.getTime() %></td>
          <td>
            <a href="/config/ediciones/edit/<%= reg._id %>">Editar</a>
          </td>
          <td>
            <form method="POST" action='/config/ediciones/edit/<%= reg._id %>' enctype='application/x-www-form-urlencoded' >
              <input type='hidden' value='DELETE' name='_method' />
              <button type="submit"> DELETE </button>
            </form>
          </td>
        </tr>
        <% }) %>
      </tbody>
      </table>
    </div>
  </div>
