<% layout('../templates/principal') -%>
<div class="aula">
  <h4>Notas <a href="/aulas/notas/new/">Crear Nota</a></h4>
  <div>
    <table id="basic-table">
      <thead>
        <tr>
          <th> Nombre </th>
          <th> Comentario </th>
          <th> Editar </th>
          <th> Borrar </th>
        </tr>
      </thead>
      <tbody>
        <% data_a.alumnes.forEach(function(reg){ %>
          <tr>
            <td>
              <strong>  <a href="/aulas/notas/results/<%= reg.aula %>/<%= reg._id %>"><%= reg.name %></a></strong><br>
            </td>
            <td>
              <input type="number" name="" value="0" placeholder="nota">
            </td>
            <td>
              <textarea name="comment"></textarea>
            </td>
            <td>
              <form method="POST" action='/aulas/notas/edit/<%= idnota %>/<%= reg._id %>' enctype='application/x-www-form-urlencoded' >
                <input type='hidden' value='DELETE' name='_method' />
                <button type="submit"> DELETE </button>
              </form>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
  </div>

</div>
