<% layout('../templates/principal') -%>
<div class="container page-new--aula">
  <div class="col-xs-12 push-md-2">
    <h4>Editar Nota</h4>
  </div>
  <div class="col-xs-12">
    <form method="POST" action='/aulas/<%= data._id %>' enctype='application/x-www-form-urlencoded' >
      <input value="PUT" type="hidden" name="_method"/>
      <div class="form-group row">
        <label class="col-sm-4" for="name">ID Moodle</label>
        <input class="col-sm-6" type="number" name="moodleId" placeholder="56" min="1" value="<%= data.moodleId %>">
        <label class="col-sm-4" for="name">Modulos</label>
        <select class="col-sm-6 custom-select" name="modules">
          <% cursos.forEach(function(reg){ %>
            <% if(String(data.modules._id) == String(reg._id)){ %>
              <option selected value="<%= reg._id %>"><%= reg.name %></option>
              <% }else{ %>
                <option value="<%= reg._id %>"><%= reg.name %></option>
                <% } %>
                <% }) %>
              </select>
              <label class="col-sm-4" for="name">Profesor</label>
              <select class="col-sm-6 custom-select" name="profes">
                <% profes.forEach(function(reg){ %>
                  <% if(String(data.profes._id) == String(reg._id)){ %>
                    <option selected value="<%= reg._id %>"><%= reg.name %></option>
                    <% }else{ %>
                      <option value="<%= reg._id %>"><%= reg.name %></option>
                      <% } %>
                      <% }) %>
                    </select>
                    <hr class="col-10">
                    <label class="col-sm-4" for="name">Numero de Videoconferencias</label>
                    <input class="col-sm-6" type="number" name="number_vc" placeholder="4" min="0" max="8" value="<%= data.number_vc %>">
                    <label class="col-sm-4" for="name">Edición</label>
                    <select class="col-sm-6 custom-select" name="edition">
                      <% editions.forEach(function(reg){ %>
                        <% if(String(data.edition._id) == String(reg._id)){ %>
                          <option selected value="<%= reg._id %>"><%= reg.yearC %>-<%= reg.monthC %> <%= reg.Service.name %></option>
                          <% }else{ %>
                            <option value="<%= reg._id %>"><%= reg.yearC %>-<%= reg.monthC %> <%= reg.Service.name %></option>
                            <% } %>
                            <% }) %>
                          </select>
                          <hr class="col-10">
                          <label class="col-sm-12" for="name">Alumnos</label>
                          <div class="col-sm-12">
                            <select multiple id="custom-headers" class="searchable" name="alumnes[]">
                              <% users.forEach(function(reg){ %>
                                <% data.alumnes.forEach(function(rex){ %>
                                  <% if(rex.email == reg.email){ %>
                                    <option selected value="<%= reg._id %>"><%= reg.name %> <%= reg.email %></option>
                                    <% }else{ %>
                                      <option value="<%= reg._id %>"><%= reg.name %> <%= reg.email %></option>
                                      <% } %>
                                      <% }) %>
                                      <% }) %>
                                    </select>
                                  </div>
                                </div>
                                <div class="col-sm-6 push-sm-5">
                                  <button type="submit" name="registrer">Guardar</button>
                                </div>
                              </form>
                            </div>
                          </div>
                          <script src="/js/bootstrap_v3.js" charset="utf-8"></script>
                          <script src="/js/jquery.multi-select.js" charset="utf-8"></script>
                          <script src="/js/jquery.quicksearch.js" charset="utf-8"></script>
                          <script type="text/javascript">
                          $('.searchable').multiSelect({
                            selectableHeader: "<input type='text' class='search-input' autocomplete='off' placeholder='Filtro'>",
                            selectionHeader: "<input type='text' class='search-input' autocomplete='off' placeholder='Filtro'>",
                            afterInit: function(ms){
                              var that = this,
                              $selectableSearch = that.$selectableUl.prev(),
                              $selectionSearch = that.$selectionUl.prev(),
                              selectableSearchString = '#'+that.$container.attr('id')+' .ms-elem-selectable:not(.ms-selected)',
                              selectionSearchString = '#'+that.$container.attr('id')+' .ms-elem-selection.ms-selected';

                              that.qs1 = $selectableSearch.quicksearch(selectableSearchString)
                              .on('keydown', function(e){
                                if (e.which === 40){
                                  that.$selectableUl.focus();
                                  return false;
                                }
                              });

                              that.qs2 = $selectionSearch.quicksearch(selectionSearchString)
                              .on('keydown', function(e){
                                if (e.which == 40){
                                  that.$selectionUl.focus();
                                  return false;
                                }
                              });
                            },
                            afterSelect: function(){
                              this.qs1.cache();
                              this.qs2.cache();
                            },
                            afterDeselect: function(){
                              this.qs1.cache();
                              this.qs2.cache();
                            }
                          });
                          </script>
