<% layout('../templates/principal') -%>
<div class="aula">
  <h4 class="page-main--addnew">Notas <a href="/aulas/notas/new/<%= _id %>"><svg class="lnr lnr-plus-circle"><use xlink:href="#lnr-plus-circle"></use></svg></a></h4>
  <div>
    <table id="basic-table">
      <thead>
        <tr>
          <th> Nombre </th>
          <th> Comentario </th>
          <th> Editar </th>
          <th> Eliminar </th>
        </tr>
      </thead>
      <tbody>
        <% data.forEach(function(reg){ %>
          <tr>
            <td>
              <strong>  <a href="/aulas/notas/results/<%= reg.aula %>/<%= reg._id %>"><%= reg.name %></a></strong><br>
            </td>
            <td>
              <strong><%= reg.comment %></strong><br>
            </td>
            <td>
              <a href="/aulas/notas/edit/<%= reg._id %>">Editar</a>
            </td>
            <td class="ctm-delete-btn">
              <form method="POST" action='/aulas/notas/edit/<%= _id %>/<%= reg._id %>' enctype='application/x-www-form-urlencoded' >
                <input type='hidden' value='DELETE' name='_method' />
                <button type="submit"> Borrar </button>
              </form>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>

  </div>
