<% layout('../templates/principal') -%>
<div class="container page-new--aula">
  <div class="col-xs-12 push-md-2">
    <h4>Editar Nota</h4>
  </div>
  <div class="col-xs-12">
    <h2 style="margin: 15px">Crear un registro de actividad</h2>
    <form method="POST" style="margin:100px 0" action='/aulas/notas/<%= data.aula %>/<%= data._id %>' enctype='application/x-www-form-urlencoded' >
      <input value="PUT" type="hidden" name="_method"/>
      <div class="form-group row">
        <label class="col-sm-4" for="name">Titulo</label>
        <input class="col-sm-6" autofocus type="text" name="name" placeholder="Titulo (unico)" value="<%= data.name %>">
        <label class="col-sm-4" for="name">Descripción</label>
        <textarea class="col-sm-6" name="comment"  style="width:100%;min-height: 100px;"><%= data.comment %></textarea>
      </div>
      <div class="col-sm-6 push-sm-5">
        <button type="submit" name="aula" value="<%= data.aula %>">Guardar</button>
      </div>
    </form>
  </div>
</div>
