<% layout('../templates/principal') -%>
<h4>Usuarios</h4>
<div class="col-xs-12">
  <a href="/users/new">Crear Usuario</a>
</div>
<div class="col-sm-8 push-sm-1">
  <table id="basic-table">
    <thead>
      <tr>
        <th> Rol </th>
        <th> Correo Electrónico </th>
        <th> Nombre </th>
        <th> Opciones </th>
        <th> Opciones </th>
      </tr>
    </thead>
    <tbody>
      <% data.forEach(function(reg){ %>
        <tr>
          <td><%= reg.role %></td>
          <td><%= reg.email %></td>
          <td><%= reg.name %></td>
          <td>
            <a href="/users/edit/<%= reg._id %>">Editar</a>
          </td>
          <td>
            <form method="POST" action='/users/edit/<%= reg._id %>' enctype='application/x-www-form-urlencoded' >
              <input type='hidden' value='DELETE' name='_method' />
              <button type="submit"> DELETE </button>
            </form>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
