<% layout('../templates/principal') -%>
<div class="aula">
  <h4>Aulas <a href="/aulas/new">Crear Aula</a></h4>
  <div>

  </div class="col-12">
  <div>
    <table id="basic-table">
      <thead>
        <tr>
          <th> Modulo </th>
          <th> Nombre </th>
          <th> Sync </th>
          <th> Nombre </th>
          <th> Nombre </th>
        </tr>
      </thead>
      <tbody>
        <% data.forEach(function(reg){ %>
          <tr>
            <td>
              <strong>
                <a href="/aulas/<%= reg._id %>">
                  <%= reg.modules.name %>
                </a>
              </strong><br>
              <span>
                <%= reg.edition.yearC %>-<%= reg.edition.monthC %> <%= reg.edition.Service %>
              </span>
            </td>
            <td>
              <ul>
                <% reg.alumnes.forEach(function(regi){ %>
                  <li><%= regi.email %></li>
                  <% }) %>
                </ul>
              </td>
              <td>
                <a class="aulas--icon" href="/aulas/sync/<%= reg._id %>"><svg class="lnr lnr-sync"><use xlink:href="#lnr-sync"></use></svg></a>
              </td>
              <td>
                <a href="/aulas/edit/<%= reg._id %>">Editar</a>
              </td>
              <td>
                <form method="POST" action='/aulas/edit/<%= reg._id %>' enctype='application/x-www-form-urlencoded' >
                  <input type='hidden' value='DELETE' name='_method' />
                  <button type="submit"> DELETE </button>
                </form>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>

    </div>
