<% layout('../templates/principal') -%>
<div class="row aula">
  <div class="col-12">
    <h4>
      <%= data.modules.name %>
      <span>
        <%= data.edition.yearC %>-<%= data.edition.monthC %> <%= data.edition.Service.name %>
      </span>
    </h4>
  </div>
  <div class="col-12 col-sm-2">
    <h5>Profesores</h5>
    <ul>
      <li>
        <%= data.profes.name %>
      </li>
    </ul>
    <h5><a href="/aulas/notas/<%= data._id %>">Notas</a></h5>
    <a href="/aulas/notas/new/<%= data._id %>">Nueva Nota</a>
  </div>
  <div class="col-12 col-sm-10">
    <table id="basic-table">
      <thead>
        <tr>
          <th> Alumnos </th>
          <th> Nombre Electrónico </th>
        </tr>
      </thead>
      <tbody>
        <% data.alumnes.forEach(function(reg){ %>
          <tr>
            <td>
              <strong><%= reg.name %></strong><br>
            </td>
            <td>
              <strong><%= reg.email %></strong><br>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>

</div>
